
@{
    ViewBag.Title = "BookCreate";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Add Book</h2>

<form action="/Book/BookCreate" method="post" enctype="multipart/form-data">
    <input type="text" name="Name" placeholder="Book Name" />
    <input type="hidden" name="AuthorId" value="@ViewBag.AuthorId" />
    <input type="text" name="Price" placeholder="Book Price" />
    <input type="text" name="Edition" placeholder="Book Edition" />
    <input type="text" name="Publisher" placeholder="Publisher" />
    <input type="text" name="Category" placeholder="Genre" />
    <input type="text" name="Language" placeholder="Language" />
    <input type="text" name="Country" placeholder="Published Country" />
    <input type="text" name="NumberOfPages" placeholder="Page Number" />
    <input type="file" name="Picture" />
    <input type="text" name="ISBN" placeholder="ISBN Number" />
    <input type="hidden" name="Status" value="Pending" />
    <input type="submit" value="submit" />

</form>















