
@{
    ViewBag.Title = "AdminDash";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>AdminDash</h2>
<a class="btn btn-danger" href="/Login/Logout">Logout</a>

<br /><br />

<a class="btn btn-success" href="/Admins/SellerPaindingList">Painding List of Seller</a>

<a class="btn btn-primary" href="/Admins/SellerList">Seller List</a>

<a class="btn btn-success" href="/Admins/AllRequestedList">All Requested List</a>

<a class="btn btn-primary" href="/Users/UserList">User List</a>



