
@{
    ViewBag.Title = "AdminDash";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>AdminDash</h2>
<a class="btn btn-danger" href="/Login/Logout">Logout</a>

<br /><br />

<a class="btn btn-success" href="/Admins/SellerPaindingList">Painding List of Seller</a>

