
@{
    ViewBag.Title = "SellerDash";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>SellerDash</h2>

<a class="btn btn-danger" href="/Login/Logout">Logout</a>

<br /><br />

@if (ViewBag.ShopChecking == false)
{
    <a class="btn btn-success" href="/Shop/ShopCreate">Add Shop</a>
}
else
{
    <a class="btn btn-primary" href="/Shop/RequestChangeShop">Request to change shop</a>
}
<br /><br />
<a class="btn btn-success" href="/Author/Authorlist">Author list</a>
<a class="btn btn-primary" href="">View Profile</a>
<a class="btn btn-success" href="/Book/ApprovedBookList">Server Book List</a>
<a class="btn btn-primary" href="">Shop Book List</a>